{% extends 'home/base.html' %}


{% block title %}
    Comments
{% endblock title %}

{% block content %}
<div class="container" style="min-height: 520px;">
    <div class="commentsInput pt-5">
        <div class="titleComent text-warning display-6 text-center mb-5">Comments</div>
        <input placeholder="Write name" type="text" class="comInputName w-100">
        <textarea placeholder="Write comment" style="resize: none; height: 100px;" class=" mt-3 w-100" name="" id="" cols="30" rows="10"></textarea>
        <div class="error my-1 w-100 bg-danger">
            <div class="errorText">
                Name mustn't be longer then 4 letters.<br>
            </div>
        </div>
        <button style="border-radius: 10px" class="btn-warning btnComment">Submit</button>
    </div>
    <div class="comments">
        <div class="commentItem">
            <div class="comTitle"></div>
            <div class="comText"></div>    
        </div>
    </div>
</div>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.error').hide()
        $('.btnComment').on('click', function(){
            let comments = $('#comments');
            let comInputName = document.querySelector('.comInputName');
            if(comInputName.value.length <= 4){
                $('.error').show()
                return
            }
            if(comInputName.value.length > 4){
                $('.error').hide()
                return
            }
        })
    </script>
{% endblock scripts %}