{% extends 'home/base.html' %}


{% block title %}
    My amazing site
{% endblock title %}

{% block link %}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <h1>ForumXT</h1>

    <ul class="nav col-12 col-lg-auto mx-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="activeNavlink nav-link px-2 text-white">Home</a></li>
      <li><a href="/forum" class="nav-link px-2 text-white">Forum</a></li>
      <li><a href="/aboutUs" class="nav-link px-2 text-white">About Us</a></li>
      <li><a href="/comments" class="nav-link px-2 text-white">Comments</a></li>
    </ul>

    <div class="text-end">
      <a href="/login"><button type="button" href="" class="btn btn-outline-light me-2">Login</button></a>
      <a href="/register"><button type="button" href="" class="btn btn-warning">Sign-up</button></a>
    </div>
  </div>
{% endblock link %}

{% block content %}

   <div id="home" class=" container home">
        <h1 class="text-warning text-center" style="font-size: 80px; padding-top: 150px;">LOGIN TO SEND MASSAGE ON FORUMXT</h1> -->
        <a href="/login" style="text-decoration: none;"><button type="button" style="font-size: 40px; margin-top: 50px;z-index: 1;padding: 10px 175px;" class=" d-block mx-auto btn btn-outline-light">Login</button></a>
        <a href="/reg" style="text-decoration: none;"><button type="button" style="font-size: 40px; padding: 20px 100px;" class="my-3 d-block mx-auto btn btn-warning">Sign-up</button></a>
        <div id="homewrapper" class="homewrapper">

        </div>
   </div>

{% endblock content %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.home').mousemove(function(event){
        document.getElementById("homewrapper").style.background = ' radial-gradient(#ffc107 , black 70% )';

        let homewrapper = $('homewrapper')
		var pos = $('.home').offset();
		var elem_left = pos.left.toFixed(0);
		var elem_top = pos.top.toFixed(0);
		var x = event.pageX - elem_left;
		var y = event.pageY - elem_top;

        
        document.getElementById("homewrapper").style.left = x - 25 + 'px';
        document.getElementById("homewrapper").style.top = y - 35 + 'px';
	});
    $('.home').mouseout(function(){
        document.getElementById("homewrapper").style.background = 'black';  
    });
</script>   
{% endblock scripts %}
