body{
    background:white;
}
/*header*/
.activeNavlink{
    color: #ffc107!important;
}
.nav-link{
    transition: .3s;
}
.nav-link:hover{
    color: #ffc107!important;
}
.profileLink{
    transition: 0.3s;
}
.profileLink:hover{
    color: grey;
}
/*home*/
.home>button{
    font-size: 35px;
}
.home{
    z-index: 3;
    height: 720px;
    /* background: linear-gradient(#212529, #ffc107,#212529); */
}
.homewrapper:hover{
    transition: .3s;
}
.homewrapper{
    transition: .3s;
    left: -250px;
    overflow:hidden;
    background: radial-gradient(#ffc107 , black 70% );
    outline: 2000px solid black;
    transition: .01s linear;
    position:absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    border-radius: 100px;
}
/*forum*/
.forum{
    height: 1025px;
}
.forumItem{
    border: 0;
    transition: .8s;
    height: 300px;
    width: 300px;
}
.forumItem:hover{
   
    transition: .8s;
    transform: translateY(15px);
}
.contenForumItem{
    margin: 2.5% 2.5%;
    border: 2px solid;
    padding: 2.5%;
}
.forumItem img{
    height: 150px;
    width: 95%;
    margin: 2.5% 2.5%;
}
.forumtitle{
    font-weight: 600;
}
.ForumText{
    text-align: left;
}
/* aboutUs */

/*comments*/
.formGroupComm{
    border-bottom: 2px #ffc107 solid;
    
}
#CommentInp{
    resize:none;
    height: 10%;
    width: 80%; 
}
.error{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 80px;
}

/*btn-warning*/
.btn-warning{

}
.btn-warning:hover{
    color: #ffc107;
    background: rgba(0, 0, 0, 0);
}
/*reg*/
.formGroup input{
    width: 100%;
    display: block;
}
.formGroup{
    width: 300px;
    margin: 0 auto;
}
